navbar navbar-expand-lg navbar-light {
 display: flex !important;
 flex-basis: auto;
}

.navbar {
 background-color: #0d0d36;
}

.navbar .navbar-brand {
 color: #fff;
 font-weight: 500;
}

.navbar .nav-item .nav-link {
 color: #fff;
}

.navbar ul .nav-item.login {
 margin-left: 50px;
 border: 1px solid #dc3545;
 padding: 0 10px 0 10px;
 border-radius: 4px;
 color: #dc3545;
}

.navbar ul .nav-item.signup {
 margin-left: 8px;
 border: 1px solid #dc3545;
 padding: 0 10px 0 10px;
 border-radius: 4px;
 color: #dc3545;
}