<ul class="nav flex-column">
 <li class="nav-item">
  <div class="nav-item background">
   <a routerLink="/dashboard" class="nav-link active" aria-current="page">Dashboard</a>
  </div>
 </li>

 <li class="nav-item">
  <div class="nav-item background">
   <a routerLink="/" class="nav-link">Board Admin</a>
  </div>
 </li>

 <li class="nav-item">
  <div class="nav-item background">
   <a routerLink="/" class="nav-link">Board Moderator</a>
  </div>
 </li>

 <li class="nav-item">
  <div class="nav-item background">
   <a routerLink="/" class="nav-link">Board User</a>
  </div>
 </li>

 <li class="nav-item">
  <div class="nav-item background">
   <a routerLink="/" class="nav-link">Profile</a>
  </div>
 </li>

 <li class="nav-item" id="logout">
  <div>
   <a routerLink="/" class="nav-link">Logout</a>
  </div>
 </li>
</ul>