.signup-layout {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.signup-layout .signup-form {
 width: 450px;
 height: 400px;
 padding: 20px;
 border: 1px solid rgb(226, 226, 226);
 border-radius: 10px;
}

label {
 color: #333333;
 padding-top: 10px;
}

button {
 margin-top: 18px;
}

.redirect {
 padding-top: 30px;
}